//HEADER//

header{
	z-index: 50;
	.row{
		border-bottom: 1px solid $Accent;
		background-color: $White;
		.column{
			background-color: $White;
		}
		.logo{
			padding-top: .75rem;
			padding-bottom: .75rem;
		}
		.mobile-toggle{
			font-size: 2.5rem;
			padding: .5rem 2.75rem .5rem .75rem;
			border-radius: 100%;
			background-color: $White;
			@include transition(.3s);
			&.active{
				background-color: $Accent;
				color: $White;
			}
		}
		nav{
			position: absolute;
			z-index: -1;
			top: -300%;
			@include transition(.3s);
			@media screen and (min-width:640px){
				top: -150%;
			}
			@media screen and (min-width:1024px){
				position: relative;
				z-index: inherit
			}
			div{
				ul{
					list-style: none;
					@media screen and (min-width:1024px){
						border: none;
					}
					li{
						font-size: 2rem;
						@media screen and (min-width:1024px){
							font-size: 1.25rem;
						}
						a{
							display: block;
							padding-top: 60%;
							@media screen and (min-width:1024px){
								padding-top: 0;
							}
							i{
								position: absolute;
								font-size: 3rem;
								top:25%;
								left: 50%;
								transform: translateX(-50%);
								@media screen and (min-width:1024px){
									font-size: 1.25rem;
									top: 50%;
									left: 0;
									transform: translate(0, -50%);
								}
							}
						}
					}
				}
			}
			&.open{
				top: 100%;
			}
		}
	}
}