//SLIDER

.slick-slider{
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3rem;
		color: $white;
		z-index: 10;
	}
	.slick-list{
		.slick-track{
			.slick-slide{
				background: #231f20; /* Old browsers */
				background: -moz-linear-gradient(top, #231f20 0%, #848484 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #231f20 0%,#848484 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #231f20 0%,#848484 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
				color: $White;
				text-align: center;
				.image{
					display: block;
					border-radius: 100%;
					border: 3px solid $Accent;
					overflow: hidden;
					padding: 3px;
					width: 80%;
					margin: 0 auto;
					@media screen and (min-width:640px){
						width: 50%;
						margin: 0 1rem 0 0;
						float: left;
					}
					img{
						border-radius: 100%;
						width: 100%;
					}
				}
				.box{
					@media screen and (min-width:640px){
						padding: .5rem;
						@include Black(.5);
						width: 48%;
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						h2{
							text-align: left;
							font-size: 3rem;
							padding-bottom: 1rem;
						}
						p{
							text-align: left;
							font-size: 1.75rem;
						}
					}
				}
			}
		}
	}
	ul.slick-dots{
		width: 100%;
		border-top: 1px solid $Accent;
		text-align: center;
		li{
			display: inline-block;
			padding: 0 .25rem;
			button{
				background-color: transparent;
				height: 8px;
				width: 8px;
				border-radius: 100%;
				border: 2px solid $LgtGrey;
				@include transition(.3s);
			}
			&.slick-active{
				button{
					background-color: $Accent;
					border-color: $Accent;
				}
			}
		}
	}
}