//UNIVERSAL STYLES

*{
	margin: 0;
	padding: 0;
	box-sizing: padding-box;
	position: relative;
	line-height: 1;
	&:focus{
		outline: none;
	}
}

p{
	padding-bottom: 1rem;
}

a{
	text-decoration: none;
	color: $LgtGrey;
	@include transition(.3s);
	@media screen and (min-width:1024px){
		&:hover{
			color: $Accent;
		}
	}
	&.button{
		display: inline-block;
		text-align: center;
		background-color: $LgtGrey;
		color: $White;
		border: 1px solid $Accent;
		border-radius: 100px;
		overflow: hidden;
		font-size: 2rem;
		padding: .5rem 2rem;
		span{
			z-index: 5;
		}
		@media screen and (min-width:1024px){
			&:after{
				content: "";
				position: absolute;
				width: 110%;
				height: 100%;
				border-radius: 100px;
				background-color: $Accent;
				top:0;
				right: 100%;
				@include transition(.3s);
				z-index: 1;
			}
			&:hover:after{
				right: -5%;
			}
		}
	}
}

.hero{
	min-height: 25rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

h1{
	color: $Accent;
	text-align: center;
	font-size: 1.65rem;
	@media screen and (min-width:370px){
		font-size: 1.95rem;
	}
	@media screen and (min-width:640px){
		font-size: 2.5rem;
	}
}