//VARMIX//

//Fonts



//Variables

$LgtGrey: #848484;
$DrkGrey: #454546;
$Black: #231f20;
$White: #ffffff;
$Accent: #630000;

//Background Colours

@mixin LgtGrey($alpha){
	background-color: rgba(132,132,132,$alpha);
}

@mixin DrkGrey($alpha){
	background-color: rgba(69,69,70,$alpha);
}

@mixin Black($alpha){
	background-color: rgba(35,31,032,$alpha);
}

@mixin Accent($alpha){
	background-color: rgba(99,0,0,$alpha);
}

//Mixins

@mixin transition($duration){
	transition: all ease-in-out $duration;
}